.git
.gitignore
.travis.yml
Dockerfile
helm/
.vscode
.github
coverage
docs
*/venv*
README*
kube*
*.swp
.circleci
.editorconfig
.github
releaserc
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.dccache
.dcignore
