#
# Global gitignore
# Author: @koconder
#
# Additional sources:
# https://www.toptal.com/developers/gitignore/api/python,node,terraform,nextjs
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# https://pdm.fming.dev/#use-with-ide
# https://github.com/github/gitignore
#
# Supports:
# - Python (pip, poetry, pdm)
# - Node/Typescript (npm, yarn, next, parcel, svelte, etc)
# - Terraform (tfenv)
# - Virtual environments (venv, .venv, .env, etc)
# - IDEs (VSCode, Spyder, Jetbrains, etc)
# - Julia

# Hidden directories and junk files
.*/
*~
*#
.DS_Store
Thumbs.db
Desktop.ini
._*
Icon
$RECYCLE.BIN/
nbproject
Network Trash Folder
Temporary Items
.Spotlight-V100
.DocumentRevisions-V100
.fseventsd
.Trashes
.Trash-*
.AppleDB
.AppleDesktop
.fuse_hidden*
.DS_Store
.DS_Store?
._.DS_Store
**/.DS_Store
**/._.DS_Store
Desktop.ini
.directory
.AppleDouble
.LSOverride

# Secrets
*.srl
*.csr
*.key
*.pem
secrets.sh
*/config/development

# Build
build/
build_*
bin/
#public/
dist
dist/
sdist/
target/
.pybuilder/
docs/_build/
.svelte-kit
.docusaurus
.vuepress/dist
.nuxt
.next
out
deps/downloads/
deps/usr/
docs/build/
docs/site/
_site/
lib/
lib64/
parts/
solution
obj
docs/_book
docs/.vuepress/dist
appengine-generated/
*build-*
downloads/
_build
_tracks
opa-debug-js
xcuserdata/
DerivedData/
Carthage/Build/
fastlane/test_output
iOSInjectionProject/
Debug/
Release/
Export/
*/codegentemp
*/Generated_Source
nbbuild/
nbdist/

# Distribution & Packaging
*.so
.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
.Python
develop-eggs/
fake-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
kube*
*.sage.py
lib/
lib64/
parts/
var/
wheels/
cython_debug/
.pytype/
.pyre/
__pypackages__/
local_settings.py
.webpack/
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
/.pnp
web_modules/
bower_components
.grunt
*.tsbuildinfo
next-env.d.ts
deps/downloads/
deps/usr/
/vendor/*
/vendors/*
ext/build/
ext/modules/
ext/Makefile*
ext/config*
ext/autom4te*
ext/install-sh
ext/missing
ext/mkinstalldirs
ext/libtool
/Application/Runtime/
pkg/
_build/
_checkouts/
lib_managed/
project/boot/
project/plugins/project/

# Installer
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
node_modules/
jspm_packages/
.npm
.node_repl_history
.pdm.toml

# Environment
*.env
venv/
*.venv
.venv/
.env/
.envrc
env/
.direnv
dist/
dist
.nyc_output
.nyc*
.dmypy.json
dmypy.json
!*.example.env

# Coverage & Tests
coverage
htmlcov
junit
.coverage
.coverage.*
coverage.xml
poetry.lock
.tox/
.nox/
.coverage.*
nosetests.xml
coverage.xml
*.cover
icoverage
coverage.lcov
reports/
.hypothesis/
pyrightconfig.json
cover/
htmlcov/
*.lcov
lib-cov
Testing
CMakeFiles
CMakeScripts
_deps
cypress/screenshots
cypress/videos

# Runtime
pids
*.pid
*.seed
*.pid.lock
*.lock
.lock-wscript

# Tags
TAGS
!TAGS/
tags
!tags/
GTAGS
GRTAGS
GPATH
GSYMS

# Cache & Temporary files
tmp
.temp
.cache
.cache/*
*/cache/*
tests/__pycache__/*
*.pytest_cache/
__pycache__
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache/
.dccache
.ruff_cache/
.scrapy
.webassets-cache
instance/
.tern-port
.fusebox/
.serverless/
.dccache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.stylelintcache
.eslintcache
.npm
_autosave-*
fp-info-cache
packer_cache
/*.Rcheck/
*_cache/
celerybeat-schedule
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Logs
logs
*/logs/*
*/log/*
*.log
npm-debug.log*
History
__Previews
Project Logs*
Project Outputs*

# IDE
.idea/
.vs
.vscode
.vscode-test
*.swp
*.swo
*.iml
*.*~
debug.env
.spyderproject
.spyproject
profile_default/
ipython_config.py
.ropeproject
env.bak/
venv.bak/
/cookbooks
Package Control.cache/
Package Control.ca-certs/
**/nbproject/private/
__history/
__recovery/
.netrwhist
Session.vim
[._]*.sw[a-z]
[._]sw[a-z]

# Kubernetes
captain.yml
kube-*.yml
gomplate.yml
Gemfile.lock
swagger/swagger*
swagger/*.jar
swagger/generated
swagger/gandalf-api-client/yarn.lock
swagger/gandalf-api-client/index*

# PHP (Wordpress, Drupal, Cake, Symfony, etc)
!/tmp/cache/models/empty
!/tmp/cache/persistent/empty
!/tmp/cache/views/empty
!/tmp/sessions/empty
!/tmp/tests/empty
!/logs/empty
/sites/*/files
/sites/*/public
/sites/*/private
/sites/*/files-public
/sites/*/files-private
/sites/*/translations
/sites/*/tmp
/sites/*/cache
/sites/simpletest
/app/cache/*
/app/logs/*
/app/spool/*
/var/cache/*
/var/logs/*
/var/sessions/*
/var/log/*
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/
/web/bundles/
/web/uploads/
/build/
**/Entity/*~
!wp-content/
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/twenty*/

# Umbraco
**/App_Data/Logs/
**/App_Data/[Pp]review/
**/App_Data/TEMP/
**/App_Data/NuGetBackup/
!**/App_Data/[Pp]ackages/*
!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages/*
!**/[Uu]mbraco/[Vv]iews/[Pp]ackages/*
**/App_Data/cache/

# Translations
*.mo
*.pot
locales/

# Data stuff (Databricks, TF, static files, etc)
output.json
.databricks
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraformrc
*.tfvars
*.tfvars.json
!s3.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
celerybeat-schedule
celerybeat.pid
*.db
*.rdb
*.sqlite3
*.sqlite3-journal
*.sqlite
*.dump
*.csv
*.tsv
*.parquet
*.xls
*.xlsx
*.avro
*.arrow
.dynamodb/
*.tgz
*.tar.gz
*.tar
*.zip
*.gz
*.gzip
*.bz2
*.bzip2
*.xz
*.lzma
*.lz
*.lzo
*.lz4
*.lzf
*.snappy
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
